.footer{
    @include mobile {
        padding-inline: 0;
    }
    &__inner{
        display: flex;
        flex-direction: column;
        background-color: var(--color-dark);
        border-radius: 
        var(--border-radius-large)
        var(--border-radius-large)
        0
        0;
        padding: 55px 60px 50px;
        color:var(--color-light);

        @include mobile{
            border-radius: 0;
            align-items: center;
            gap: 37px;
            padding-inline: 20px;
        }
    }
    &__navigation{
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 40x;
        margin-bottom: 66px;

        @include tablet {
            flex-direction: column;
            gap: 37px;
            align-items: center;
        }

        @include mobile{
            display: contents;
        }
    }
    &__logo{
        cursor: pointer;
        &-image{
            color: var(--color-light);
        }
    }
    &-menu{
        &__list{
            display: flex;
            gap: 20px;

            @include mobile{
                flex-direction: column;
                gap: 15px;
                align-items: center;
            }
        }
        &__link{
            padding-inline: 20px;
            text-decoration: underline;
            text-wrap-mode: nowrap;
        }
    }
    &-soc1al{
        @include mobile{
            order: 2
        }
        &__list{
            display: flex;
            gap: 20px;
          
        }
        &__link{
            @include flex-center(true);
            @include square(30);

            cursor: pointer;
            color: var(--color-dark);
            fill: var(--color-dark);
            background-color: var(--color-light);
            border-radius: 50%;

            svg{
                width: 20px;
                aspect-ratio: 1;
                fill: var(--color-dark);

            }
           
        }
    }
    &__contacts{
        display: flex;
        align-items: start;
        flex-direction: column;
        gap: 20px;

        @include mobile{
            align-items: center;
        }
        &-title{
            width: fit-content;
            color: var(--color-dark);
            border-radius: var(--border-radius-small);
        }
    }
  
    &__body{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        

        @include mobile{
            flex-direction: column;
            gap: 37px;
            display: contents;
            text-align: center;
        }
    }

    &__extra{
        @include mobile {
            order: 3;
            width: 100%;
        }
        &-content{
            display: flex;
            gap: 40px;
            padding-top: 50px;
            margin-top: 50px;
            border-top: 1px  solid var(--color-light);

            @include mobile{
            flex-direction: column;
            align-items: center;
            gap: 15px;
            padding-top: 37px;
            margin-top: 0;
            }
        }
        &-privacy{
            text-decoration: underline;
            cursor: pointer;
        }
    }

}