.header{
    padding-top: 60px;
    background: white;
    border-bottom: 1px solid var(--color-lime);
    padding-bottom: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    
    @include desktop {
        padding-top: 30px;
    }
    @include tablet {
        &__logo-image{
            max-width: 140px;

        }
    }
    @include mobile{
        padding-top: 15px;
    }
    
    &__inner{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: clamp(20px, 3.22vw, 40px);
        @include tablet{
            justify-content: space-between;
        }
    }
    &__navbar{
        margin-left: auto;
        &-list{
            display: flex;
            align-items: center;
            column-gap: clamp(20px, 3.22vw, 40px);
            @include desktop{
                column-gap: 20px;
            }
        }
        &-item{
            display: flex;

        }
        &-link{
            display: inline-flex;
            align-items: center;
            height: 48px;
            font-size: 20px;
            color:currentColor;
            text-wrap-mode: nowrap;
            position: relative;

            @include desktop{
                font-size: 18px;
            }

            @include tablet{
                font-size: 16px;
            }

            @include hover{
                &::after{
                    width: 100%;
                }
            }
            &::after{
                content:"";
                position:absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                height: 2px;
                background: currentColor;
                width: 0;
                transition-duration: var(--transition-duration);
            }
        }
      
    }

    @include tablet{
        &__button{
            padding-inline: 15px;
            height: 48px;
        }
    }
}