.radio{
    display: flex;
    align-items: center;
    column-gap: 14px;
    transition-duration: var(--transition-duration);

    
    @include hover{
        opacity: .6;
    }

    &__item{
        display: flex;
    }
    
    &__input{
        &:not(:checked) + .radio__emulator::after{
            opacity: 0;
        }
    }

    &__emulator{
        @include flex-center;
        @include square(28);

        position: relative;
        background-color: transparent;
        border:var(--border);
        border-radius: 50%;

        &::after{
            @include square(16);
            @include abs-center;

            content:'';
            background-color: var(--color-lime);
            border-radius: inherit;
            transition-duration: var(--transition-duration);
        }

    }
}